<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>HEX</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIAppFonts</key>
	<array>
		<string>ThmanyahSans-Bold.ttf</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconLime</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconLime</string></array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCream</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconCream</string></array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconElectric</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconElectric</string></array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconMagenta</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconMagenta</string></array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOrange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconOrange</string></array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCrimson</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconCrimson</string></array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconRoyal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconRoyal</string></array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array><string>AppIconGold</string></array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>hex.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hex</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
